# Ignorar dependencias de Node
node_modules

# Ignorar el directorio de build/distribución
dist
build

# Ignorar logs de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignorar variables de entorno locales
.env
.env*.local

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db